<!doctype html>

<html ng-app="ListeaFaire">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>menu Liste</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="dossierListe.js"></script>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-controller="folderControler">
    <h1>Menu Listes</h1>
    <div id="todo-list">
        <div ng-repeat="x in folderList">
            <h5>
              <input type="checkbox" ng-model = "" ng-click="checkTask(x._id)">
                <input type="text" ng-model="x.text"> <input type="text" ng-model="x.author">
                <label>{{x.date| date:'dd/MM/yyyy à HH:mm'}}</label>
              <button ng-click="deleteFolder(x._id)"> x </button><button ng-click="modifyfolder(x)"> modifier </button>
              <button ng-click="accessfolder(x)"> acceder </button>
            </h5>
        </div>
    </div>

    <div id="todo-form" >
        <form>
            <input type="text" placeholder="écrire quelque chose" ng-model="formData.name">
            <br/>
            <input type="text" placeholder="nom auteur" ng-model="formData.auth">
            <br/>
            <button type="submit" ng-click="createFolder()">Ajouter</button>
        </form>
    </div>
</body>
</html>
