<!doctype html>

<html ng-app="ListeaFaire">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>menu Liste</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-cookies.js"></script>
    <script src="dossierListe.js"></script>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-controller="folderControler">
  <div id="todo-list" class="container">
    <h1>Bienvenue {{user}}</h1>
    <ul class="list-group" ng-repeat="x in laliste">
      <li class="list-group-item">
        <div class="input-group mb-3">
          <input type="text" ng-model="x.nomListe" class="form-control">
          <div class="input-group-append" id="button-addon4">
            <button ng-click="accessList(x._id)" class="btn btn-success"> Accéder </button>
            <button ng-click="modifyList(x)" class="btn btn-warning"> Modifier </button>
            <button ng-click="deleteList(x.user, x._id)" class="btn btn-danger"> Supprimer </button>
          </div>
        </div>
      </li>
    </ul>
  </br>
  <div id="todo-form">
    <form>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Créer liste" ng-model="formData.name">
        <div class="input-group-append" id="button-addon4">
          <button type="submit" ng-click="createList()" class="btn btn-success">Ajouter</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
